<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Liste des livres</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <style>
        body {
          padding-top: 4rem;
        }
    </style>
  </head>

  <body>

    <main class="container">

      <h1>Liste des livres</h1>
      <p>Voici tous les livres qui ont disponnibles.</p>

      <div class="row">
      {% for book in books %}

        <div class="col-sm-6">
          <div class="card">
             <h4>{{book.title}}</h4>
          </div>
        </div>

      {% endfor %}
      </div>

    </main>
  </body>

</html>
