<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{nomcompagnie}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <style>
        body {
          padding-top: 4rem;
        }
    </style>
  </head>

  <body>
    <main class="container">

      <div>
        <h1>{{nomcompagnie}}</h1>
        <p class="lead">
            {{pitch|default_if_none:"Notre compagnie utilise Python et Django, donc vous vous savez que ça va clencher !"}}
        </p>
      </div>

    </main>
  </body>

</html>
